SUBSYSTEM=="usb",\
ATTRS{bInterfaceClass}=="03",\
ATTRS{bInterfaceSubClass}=="01",\
ATTRS{bInterfaceProtocol}=="01",\
ACTION=="add", RUN+="/sbin/insmod /usr/lib/modules/kbd.ko"
